.post__maker {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.pm__top {
  display: flex;
  border-bottom: 1px solid #eff2f5;
  padding: 15px;
}
.pm__top > form {
  flex: 1;
  display: flex;
}

.pm__top > form > input {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: #eff2f5;
  flex: 1;
}

.pm__fileSelector {
  width: 105px;
}

.pm__top > form > button {
  height: 0;
  width: 0;
  background-color: transparent;
  color: transparent;
  border: none;
}

.pm__bottom {
  display: flex;
  justify-content: space-evenly;
}

.pm__options {
  padding: 20px;
  display: flex;
  align-items: center;
  color: gray;
  margin: 5px;
}

.pm__options > h3 {
  font-size: medium;
  margin-left: 10px;
}

.pm__options:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1012px) {
  .post__maker {
    margin-top: 25px;
  }

  .pm__options {
    padding: 16px;
  }

  .pm__options > h3 {
    margin-left: 8px;
  }
}
