.video__player {
  padding: 15px;
  background-color: white;
  border-radius: 15px;
  transition: transform 100ms ease-in;
}

.video__player:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1012px) {
  .video__player {
    padding: 10px;
  }

  .video__player:hover {
    transform: scale(1.02);
  }
}
