.sidebar__row {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.sidebar__row:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.avatar {
  transform: scale(1.1);
}

.sidebar__row:first-of-type > p {
  margin-left: 13px;
}

.sidebar__row > p {
  margin-left: 20px;
  font-weight: 600;
}

.sidebar__row > .mui__icon {
  font-size: xx-large;
  color: #30638e;
}
.sidebar__row:hover > .mui__icon {
  color: #00798c;
}

@media screen and (max-width: 1012px) {
  .sidebar__row {
    padding: 8px 6px;
  }

  .sidebar__row > p {
    margin-left: 16px;
  }

  .sidebar__row:first-of-type > p {
    margin-left: 4px;
  }

  .sidebar__row > .mui__icon {
    font-size: x-large;
  }

  .avatar {
    transform: scale(0.85);
  }
}
