.header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
}

.header__left > img {
  height: 50px;
}

.header__input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eff3f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 33px;
  height: 100%;
}

.header__input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__options {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
  color: gray;
  border-radius: 10px;
}

.header__options:hover {
  background-color: #eff3f5;
  align-items: center;
  color: #2e81f4;
}

.header__options__active {
  color: #2e81f4;
  border-bottom: 4px solid #2e81f4;
}

.center__icon {
  transform: scale(1.4);
}

.header__right {
  display: flex;
}

.header__info {
  display: flex;
  align-items: center;
  color: gray;
}

.header__info > h4 {
  margin-left: 10px;
}

@media screen and (max-width: 1012px) {
  .header {
    padding: 12px 16px 10px;
  }

  .header__left > img {
    height: 30px;
  }

  .header__input {
    padding: 5px;
    margin-left: 5px;
    height: 80%;
  }

  .header__input > input {
    width: 80px;
  }

  .header__options {
    padding: 0 15px;
  }

  .center__icon {
    transform: scale(1);
  }

  .right__icon {
    transform: scale(0.8);
  }
}
