.user__component {
  display: flex;
  flex: 1;
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.MUI__button:hover > .add__user {
  color: #00798c;
}
.MUI__button:hover > .remove__user {
  color: #d1495b;
}
